<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de ...</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-grid style="height: 50%">
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-card id = "about-card" class="card-center">
          <form >
            <ion-list lines="none">
  
              <ion-item>
                <ion-label fixed class="ion-text-center"><h1>Vamos al huerto</h1></ion-label>
              </ion-item>
              <ion-item>
                <ion-label  class="ion-text-center"><p>Aplicación de gestión de un huerto</p></ion-label>
              </ion-item>
            </ion-list>
          </form>
        </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>