ion-icon{
  margin-right: 8px;
}

ion-label{
  width: 50%;
}

.range-label{
  width:auto;
  padding: 1px;

  font-size:medium;
}

.error{
color: red;
font-style: italic;
font-size: small;

}

.icono-plantas {
  width: 70px;
}

.icon-group{
display: inline-table;
padding: 0;
margin: 0;
}